h1#tit{
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  color: blue;

}
div#rw{
  background-color: #BB8FCE;
}

button#bt{
  background-color: #E74C3C;
  font-weight: bold;

}
@keyframes anilla{
0%{background-color: #3498DB;}
25%{background-color:#F4D03F; }
50%{background-color: #138D75;}
75%{background-color: #7F8C8D;}
100%{background-color: #F7F9F9;}
}
#last{
  animation-name: anilla;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color: #3498DB;

}

div#jb{
  background-image: url(../Images/game.jpeg);
}
